{% extends "base.html" %}

{% block content %}
<h1>Village generator</h1>

<p>Your reach a {{ village.type|lower }} with about {{ village.inhabitants }} souls.</p>

<p>The village is {{ village.age }} years old, it was built {{ village.build_time }}.</p>


<p>There is something unusual about this place: it’s {{ village.oddity }}.</p>

<p>The village's ruler is {{ village.ruler }}.</p>

<p>The village is facing {{ village.problem }}.</p>

<p>It’s famous for {{ village.fame }}.</p>

{% if village.institutions %}
<p>Institutions:</p>
<ul>
    {% for inst in village.institutions %}
    <li>{{ inst }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>A few words about the inn:</p>

<p>It's called {{ village.inn.name }}</p>

<p>{{ village.inn.oddity }} is what's weird about it.</p>

<p>Its specialty is {{ village.inn.specialty }}.</p>
<p>Currently, there is a {{ village.inn.special_guest }} lodging at the inn.</p>

{% endblock %}