{% extends "base.html" %}

{% block content %}
<h1>{{demon.form}} Demon</h1>


<table style="margin-top: 20px" class="table table-striped">
    <tr>
        <th>Strength</th>
        <th>Agility</th>
        <th>Wits</th>
        <th>Empathy</th>
        <th>Armor rating</th>
    </tr>
    <tr>
        <td>{{ demon.strength }}</td>
        <td>{{ demon.agility }}</td>
        <td>{{ demon.wits }}</td>
        <td>{{ demon.empathy }}</td>
        <td>{{ demon.armor }}</td>
    </tr>
</table>

<table class="table table-striped">
    <tr>
        <th>Scout</th>
        <th>Sneak</th>
        <th>Move</th>
        <th>Lore</th>
        <th>Insight</th>
        <th>Manipulation</th>
    </tr>
    <tr>
        <td>{{ demon.skills.Scout }}</td>
        <td>{{ demon.skills.Sneak }}</td>
        <td>{{ demon.skills.Move }}</td>
        <td>{{ demon.skills.Lore }}</td>
        <td>{{ demon.skills.Insight }}</td>
        <td>{{ demon.skills.Manipulation }}</td>
    </tr>
</table>


<table class="table table-striped">
    <tr>
        <th>Ability</th>
        <th>Effect</th>
    </tr>
    {% for ability in demon.abilities %}
    <tr>
        <td>{{ ability.0 }}</td>
        <td>{{ ability.1 }}</td>
    </tr>
    {% endfor %}
    {% for ability in demon.special_abilities %}
    <tr>
        <td>{{ ability.0 }}</td>
        <td>{{ ability.1 }}</td>
    </tr>
    {% endfor %}
    {% if demon.effect %}
    <tr>
        <td>Form effect</td>
        <td>{{ demon.effect }}</td>
    </tr>
    {% endif %}
</table>

<table class="table-striped table">
    <tr>
        <th>Weakness</th>
        <th>Effect</th>
    </tr>
    <tr>
        <td>{{ demon.weakness.0 }}</td>
        <td>{{ demon.weakness.1 }}</td>
    </tr>

</table>


<table class="table table-striped">
    <tr>
        <th>Attack</th>
        <th>Base Dice</th>
        <th>Damage</th>
        <th>Reach</th>

    </tr>
    {%for attack in demon.attacks %}
    <tr>
        <td>{{ attack.name }}</td>
        <td>{{ attack.base_dice }}</td>
        <td>{{ attack.dmg }}</td>
        <td>{{ attack.reach }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}