{% extends "base.html" %}

{% block content %}
<h1>{{demon.form}}</h1>

{% if demon.effect %}
<p>Special effect: {{ demon.effect }}</p>
{% endif %}
<h2>Attributes </h2>
<table style="margin-top: 20px" class="table table-striped">
    <tr>
        <td>Strength</td>
        <td>Agility</td>
        <td>Wits</td>
        <td>Empathy</td>
    </tr>
    <tr>
        <td>{{ demon.strength }}</td>
        <td>{{ demon.agility }}</td>
        <td>{{ demon.wits }}</td>
        <td>{{ demon.empathy }}</td>
    </tr>
</table>

<h2>Skills</h2>
<table class="table table-striped">
    <tr>
        <td>Scout</td>
        <td>Sneak</td>
        <td>Move</td>
        <td>Lore</td>
        <td>Insight</td>
        <td>Manipulation</td>
    </tr>
    <tr>
        <td>{{ demon.skills.Scout }}</td>
        <td>{{ demon.skills.Sneak }}</td>
        <td>{{ demon.skills.Move }}</td>
        <td>{{ demon.skills.Lore }}</td>
        <td>{{ demon.skills.Insight }}</td>
        <td>{{ demon.skills.Manipulation }}</td>
    </tr>
</table>

<h2>Armor Rating: {{ demon.armor }}</h2>

<h2>Abilities</h2>
<ul>
    {% for ability in demon.abilities %}
    <li>{{ ability.0 }}: {{ ability.1 }} </li>
    {% endfor %}

    {% for ability in demon.special_abilities %}
    <li>{{ ability.0 }}: {{ ability.1 }} </li>
    {% endfor %}
</ul>


<h2>Attacks:</h2>
<ul>
    {%for attack in demon.attacks %}
    <li>{{ attack }}</li>
    {% endfor %}
</ul>

<h2>Weakness:</h2>
<ul>
    <li>{{ demon.weakness.0 }}: {{ demon.weakness.1 }}</li>
</ul>




{% endblock %}